    {% extends "layout.html" %}
   
    {% block mycontent %}

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form name="login" action="" method="POST" novalidate>
                <fieldset class="form-group">
                    <legend>{{titleH1}}</legend>
                    {{ loginform.hidden_tag() }}
                    <p>
                        {{ loginform.email.label }}
                        <br>
                        {{ loginform.email(size=35) }}
                        
                        {% for error in loginform.email.errors %}
                            <span class="error-message">{{error}}</span>
                        {% endfor %}
                        
                    </p>
                    <p>
                        {{ loginform.password.label }}
                        <br>
                        {{ loginform.password(size=15) }}
                        {% for error in loginform.password.errors %}
                            <span class="error-message">{{error}}</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ loginform.submit() }}
                    </p>
                </fieldset>
                
                <!-- <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>
                <br>
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <br class="clear">
                <input class="btn-submit" type="submit" name="submit" value="Login"> -->
            </form>
        </div>
    </div>
 {% endblock %}